{% extends "inventory/base.html" %}

{% block main_content %}
    <div class="container text-center">
        <div class="row align-items-start">

            <div class="col-10">
                <table id="domains" class="table table-striped table-sorted">
                    <thead class="table-dark">
                    <tr>
                        <td>VM</td>
                        <td>State</td>
                        <td>Mem(GB)</td>
                        <td>VCPU</td>
                        <td>Disk(GB)</td>
                        <td>Disk Used(GB)</td>
                        <td>Physical host</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for dom in all_doms %}

                        <td><a href="{% url 'view_domain' dom.id %}">{{ dom.name }}</a></td>
                        <td>
                            {% if dom.state == 1 %}
                                Running
                            {% elif dom.state == 5 %}
                                Shut down
                            {% else %}
                                Unknown
                            {% endif %}

                        </td>
                        <td>{{ dom.memory }}</td>
                        <td>{{ dom.vcpus }}</td>
                        <td>{{ dom.disk }}</td>
                        <td>{{ dom.disk_used }}</td>
                        <td><a href="{% url 'view_host' dom.physical_host.id %}">{{ dom.physical_host.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}